@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?35537944');
  src: url('../fonts/fontello.eot?35537944#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff?35537944') format('woff'),
       url('../fonts/fontello.ttf?35537944') format('truetype'),
       url('../fonts/fontello.svg?35537944#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
 
.icon {
  font-family: "fontello";
}

.icon-left-dir:before { content: '\e800'; } /* '' */
.icon-right-dir:before { content: '\e801'; } /* '' */
.icon-vkontakte-rect:before { content: '\e802'; } /* '' */
.icon-plus:before { content: '\e803'; } /* '' */