.main-header {
	width: 100%;
	height: 230px;
	background: #106CA4;

	.main-header-cont {
		position: relative;
		max-width: 1180rem / @htmlFontSize;
		margin: 0 auto;
		height: 100%;
	}

	.logo {
		width: 100%;
		height: 100%;
		margin: 0;

		background: url(../img/header.jpg) no-repeat center 0;
		text-indent: -9999px;
	}

	.counter {
		top: 45%;
		right: 0;
		left: auto;
	}

	.timer-desc {
		position: absolute;
		top: 45%;
		left: 2%;
		text-transform: uppercase;
		font-size: 20em / @htmlFontSize;
		line-height: 1.2em;

		.small {
			display: block;
			font-size: 17em / 20;
			line-height: 1.2em;
		}
	}

	.timer {
		position: absolute;
		top: 7rem;
    	left: 9.1rem;
    	width: 13rem;
		font-size: 32em / @htmlFontSize;
		text-align: center;

		& > div {
			position: relative;
			display: inline-block;
			padding: 0 .5rem;
		}

		.hours {
			&:after {
				content: 'часов';
				position: absolute;
				font-size: 10px;
				width: 100%;
				text-align: center;
				bottom: -10rem / @htmlFontSize;
				left: 0;
				text-transform: uppercase;
			}			
		}
		.mins {
			&:after {
				content: 'минут';
				position: absolute;
				font-size: 10px;
				width: 100%;
				text-align: center;
				bottom: -10rem / @htmlFontSize;
				left: 0;
				text-transform: uppercase;
			}
		}
		.secs {
			&:after {
				content: 'секунд';
				position: absolute;
				font-size: 10px;
				width: 100%;
				text-align: center;
				bottom: -10rem / @htmlFontSize;
				left: 0;
				text-transform: uppercase;
			}
		}
	}

}